*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(8, 94, 8);
    /* position: fixed; */
    width: 100%;
}
.nav-div-1{
    display: flex;
    align-items: center;
}
.nav-div-1>ul{
    display: flex;
    width: 35%;
    margin-left: 10px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: rgb(247, 174, 56);
}
.nav-div-1>ul>.nav-li{
    list-style: none;
    padding: 10px 10px;
    font-size: 1.3rem;
   
}
.nav-div-1>P{
    font-size: 1rem;
}
.nav-div-2{
    background-color: white;
    padding: 20px 0px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.nav-div-2>.div-image{
    height:80px;
    width: 220px;
    font-size: 2rem;
    font-weight: 900;
}
.nav-div-2 img{
    height: 100%;
    width: 100%;
}
.nav-div-2>.contacts{
    margin: 20px;
    cursor: pointer;
    /* border: 1px solid red; */
}
.nav-div-2>.contacts:hover{
    color: rgb(247, 174, 56);
}
.nav-div-2 .input-sec{
    width: 420px;
     /* border: 1px solid red; */
     margin-right: 70px;
     margin-left: 60px;
     display: flex;
     align-items: center;
}
.nav-div-2 .input-sec input{
    padding: 5px;
    width:350px
}
.nav-div-2 .input-sec div{
   /* border: 1px solid blue; */
   height: 29px;
   padding: 2px 3px;
   background-color: rgb(247, 174, 56);
}
.nav-div-2 .input-sec div i{
    font-size: 1rem;
    color: white;
    /* padding: 3px 0px; */
}
.nav-div-2>ul{
    display: flex;
    /* border: 1px solid red; */
    margin-left: auto;
    justify-content: space-evenly;
}
.nav-div-2>ul>.nav-div-2-li{
    list-style: none;
    padding: 0 25px;
}
.nav-div-2>ul>.nav-div-2-li>a:hover{
    color: rgb(247, 174, 56);
}
.nav-div-2>ul>.nav-div-2-li>a{
    /* list-style: none; */
    color: black;
}
.nav-div-3>ul{
    display: flex;
    flex-wrap: wrap;
}
.nav-div-3>ul>li{
    list-style: none;
    padding: 10px;
}
.sec-1>{
    /* height: 90vh; */
    width: 100vw;
}
.sec-1>a>img{
    height: 100%;
    width: 100%;
}
.Popular-cat>h2{
    margin: 50px 10px;
}
.Popular-cat>ul{
    display: flex;
}
.Popular-cat>ul>li{
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 100%;
    margin: auto auto 10px;
    justify-content: space-between;
    /* align-items: center; */
}
.Popular-cat>ul>li>.a-1{
    width: 100%;
}
.Popular-cat>ul>li>.a-1>img{
    width: 100%;
}

.Popular-cat>ul>li>.a-2{
    text-decoration: none;
    padding: 10px;
    color: rgb(28, 26, 26);
    text-align: center;
}
.Popular-cat>ul>li>.a-2:hover{
    color: rgb(247, 174, 56)
}
.lightening-deals{
    margin: 20px;
}
.lightening-container{
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
}
.container-sec{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    /* max-width: 100%; */
    margin:0 5px;
    justify-content: space-between;
    box-shadow: 1px 1px 20px #f5f2f2;
    border: 1px solid violet;
    position: relative;
}
.head{
    margin-left: auto;
    position: relative;
    overflow: hidden;
    padding: 20px;
    transition: all .3s ease-in;
    background: #a80308;
    border-bottom-left-radius: 100px;
}
.head .right{
   
    /* line-height: 1.5; */
    border: none;
    color: #fff;
    z-index: 1;
    padding: 3px 4px 0 0;
    right: 0;
    width: 80px;
    height: 40px;
    /* -webkit-border-radius:0 0 0 100px; */
    /* border-radius:0 0 0 100px;  */
   
    font-size: 18px;
    text-align: right;
    font-weight: 600;

}
.image{
    width: 100px;
    height: 105px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}
.image:hover{
    transform: scale(1.1);
}
.image img{
    width: 100%;
    height: 100%;
}
.para{
    margin: 0 auto;
    padding: 0 10px;
}
.para a{
    text-decoration: none;
    color: rgb(30, 28, 28);
    font-size: 1.5rem;

}
.star-sec{
    margin: 0 auto;
}
.star-sec span{
    font-weight: 800;
    padding: auto;
}
.star{
    display: flex;
    color: goldenrod;
    margin: 5px;
}
button{
background-color: rgb(8, 94, 8);
border: 1px solid rgb(8, 94, 8);
border-radius: 15px;
padding: 5px 10px;
color: white;
text-transform: uppercase;
font-size: .75rem;
font-weight: 700;
transition: all 2s ease-in-out;
cursor: pointer;
margin-bottom: 10px;

}
.grid-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
gap: 2px;
padding: 20px;
margin: 30px 0;
margin-right: auto;
margin-left: auto;
padding: 0 5px;

}

.grid-item {
position: relative;
overflow: hidden;
}

.grid-item img {
width: 100%;
height: auto;
display: block;
}

/* Specific item spans to achieve the layout */
.grid-item:nth-child(1) {
grid-column: span 2;
}

.grid-item:nth-child(6) {
grid-column: span 2;
}
.new-deals{
margin: 20px;
}
.review{
margin: 20px;
/* border: 1px solid blue; */
display: flex;
}
.review-sub{
width: 33.33%;
border: 2px solid darkgray;
margin: 0 2px;

}
.client-sec{
margin: 20px;
}
.client-sec h2{
text-align: center;
padding: 10px;
text-transform: uppercase;
color: rgba(13, 12, 12, 0.695);
}
.review-sub img{
/* margin: auto; */
width: 100%;
padding: 10px;
}
.review-sub h5{
text-align: center;
padding: 10px;
}
.review-sub p{
text-align: center;
padding: 10px;
}
.nursery{
margin: 60px 0;
}
.nursery h1{
text-align: center;
padding: 20px;
}
.nursery p{
padding: 5px;
margin: 20px 0;
}
.nursery .nur-button{
border: 1px solid orange;
padding: 10px 20px;
margin-left: 5px;
margin-top: 20px;
border-radius: 100px;
background-color: rgb(230, 230, 239);
cursor: pointer;
}
.nursery .nur-button a{
text-decoration: none;
color: black;
}
.questions{
margin: 60px;
}
.questions h2{
text-align: center;
}
.q-sec{
display: flex;
flex-direction: column;
margin: 10px 120px;

}
.q-sub-sec{
display: flex;
justify-content: space-between;
border: 2px solid darkgray;
margin: 5px;
font-size: 16px;
font-weight: 900;
padding: 10px;
cursor: pointer;
background-color: rgb(227, 227, 238);
}
.embedding h2{
text-align: center;
margin: 10px;
}
.sub-embed{
margin: 10px;
}
.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Two equal columns */
    grid-template-rows: 300px 300px; /* Two rows with auto height */
    gap: 2px; /* Gap between grid items */
}
.grid-item-1 {
    position: relative;
    overflow: hidden;
    }
    
    .grid-item-1 img {
    width: 100%;
    height: 100%;
    display: block;
    }
    
    /* Specific item spans to achieve the layout */
    .grid-item-1:nth-child(1) {
    grid-column: span 2;
    grid-row:span 2;
    }
    .grid-item-1:nth-child(4) {
        grid-column: span 2;
        /* grid-row:span 2; */
        }
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Two equal columns */
    grid-template-rows: 300px 300px; /* Two rows with auto height */
    gap: 2px; /* Gap between grid items */
}
.grid-item-2 {
    position: relative;
    overflow: hidden;
    }
    
    .grid-item-2 img {
    width: 100%;
    height: 100%;
    display: block;
    }
    
    /* Specific item spans to achieve the layout */
    .grid-item-2:nth-child(2) {
    grid-column: span 2;
    grid-row:span 2;
    }
    

.blog-review{
margin: 20px;
/* border: 1px solid blue; */
display: flex;
}
.blog-review-sub{
width: 33.33%;
/* border: 2px solid darkgray; */
margin: 0 1px;

}
.blog h2{
text-align: center;
padding: 10px;
text-transform: uppercase;
color: rgba(13, 12, 12, 0.695);
}
.blog-review-sub img{
/* margin: auto; */
width: 100%;
padding: 10px;
}
.blog-review-sub h5{
text-align: center;
padding: 10px;
}
.blog-review-sub a{
text-decoration: none;
color: black;
}
.blog .blog-button{
border: 1px solid orange;
padding: 10px 20px;
margin-left: 600px;
margin-top: 20px;
border-radius: 100px;
background-color: rgb(230, 230, 239);
cursor: pointer;
}
.blog .blog-button a{
text-decoration: none;
color: black;

}
.blog .blog-button:hover{
text-decoration: none;
color: white;
background-color:rgb(247, 174, 56);

}
