*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    margin-left: 0.5rem;
}
.small-font{
    font-size: small;
}
#home{
    text-decoration: underline;
}
#home:hover{
    cursor: pointer;
    text-decoration: none;
}

.head h1{
    margin: 1rem 0rem 0.5rem;
    font-size: xx-large;
    
}
#simpleDropdown{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    margin-right: 1rem;
    font-weight: bold;
    border: none;
}
.dropdown{
    position: relative;
    margin: 1rem 0;
}

.main{
    display: flex;
}

.sidebar{
    position: relative;
    width: 55vw;
    height: auto;
    margin-top: 2rem;
    margin-left: 0.5rem;
}
.minus{
    position: absolute;
    right: 0;
}

.sidebar h4{
    margin: 1rem 0;
}



/* PRICE */
.fa{
    margin-right: 5px;
    font-size: 10px;
    
}
.plus{
    position:absolute ;
    bottom: 0;
    right: 0;
}
.price-1{
    margin-top: 1rem;
    margin-left: 0.5rem;
    position: relative;
}
.price-1 *{
    margin: 1rem 0;
}
.price-1 .min{
    margin-right: 14rem;
}

.input{
    width: 7rem;
    padding: 0.4rem;
    border: 1px solid #ddd;
}
button{
    width: 3rem;
    margin-left: 0.5rem;
    padding: 0.3rem;
    background-color: #f8b300;
    border-color: #f8b300;
    box-shadow: none;
    color: white;
}

.body{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
}
.card{
    display: flex;
    width: 70vw;
    margin: 1rem 1rem;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    
}
.card-info{
    width: 300px;
    height: 450px;
    /* display: flex; */
    margin-top: 0;
    /* flex-direction: column; */
    /* background-color: #f8b300; */
    justify-content: space-around; 
    text-align: justify;
}
.image img{
    width: 100%;
}
.image p{
    text-align: center;
    margin-top: 0.5rem;
}
.nav-button {
    text-align: center;
    margin-top: 1rem;
}
.nav-button button{
    width: 90%;
    background-color: #2c6d31;
    border: green;
    border-radius: 50rem;
    margin-top: 0.5rem;

}
.checked {
    color: orange;
}
.cursor:hover{
    cursor: pointer;
}
.zoom {
    transform: 0.2s;
    object-fit: cover;  
    
    top: 0;
    left: 0;
}
.zoom:hover{
    transform: scale(1.03);
}
.body>p,a{
    color: gray;
    font-size: 13px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

 @media screen and (max-width: 991px){
    .card-info {
        width: 45%;
    }
}
@media screen and (max-width: 768px){
    .card-info {
        width: 100%;
    }
    .card{
        flex-direction: column;
    }
}
@media screen and (max-width: 576px){
    .body{
        flex-direction: column;
    }
    .main{
        width: 100%;
        flex-direction: column
    }
} 
