@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* home/plants */
.home span{
    color: #2c6d31;
    font-size: small;
    padding-left: 0.5rem;
}

.home span:first-child{
    text-decoration: underline;
}

.home span:last-child{
    color: gray;
}


/* Plant heading */
.plant-heading{
    margin-top: 1.5rem;
    position: relative;
}

.plant-heading>*{
    margin-top:0.5rem;
    margin-left: 0.5rem;
}
.plant-heading strong{
    color:rgb(105, 104, 104);
}
.plant-heading p{
    font-size: medium;
}

#simpleDropdown{
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    margin-right: 1rem;
    width: 6rem;
}


/* sidebar */

.sidebar{
    display: inline-block;
    height: auto;
    margin-top: 2rem;
    margin-left: 0.5rem;
    /* background-color: aqua; */
}
.sidebar h4{
    margin: 1rem 0;
}

.plant-lists p{
    margin: 1rem 0;
    padding-right: 3rem;
    color: gray;
}

.plant-lists>p::before{
    content:">";
    padding-right: 0.5rem;
    width: auto;
    font-style: bold;
    
}


/* PRICE */

.price{
    margin-top: 1rem;
    margin-left: 0.5rem;
    position: relative;
}
.price *{
    margin: 1rem 0;
}
.price .min{
    margin-right: 14rem;
}

.input{
    width: 7rem;
    padding: 0.4rem;
    border: 1px solid #ddd;
}
button{
    width: 3rem;
    margin-left: 0.5rem;
    padding: 0.3rem;
    background-color: #f8b300;
    border-color: #f8b300;
    color: white;
}
.body{
    display: flex;
    
}
.main{
    background-color: aqua;
    margin: 2rem;
    width: auto;
    height: auto;
}
